.mr-custom {
    margin-right: 2rem !important;
}

.card {
    width: 8rem;
    height: auto;
    margin-right: 1rem !important;
    margin-bottom: 1rem !important;
}

.img {
    width: 10rem !important;
    height: auto !important;
}

.alightLeft {
    text-align: left !important;
}

.topCenter {
    position: absolute;
    top: 8px;
    left: 16px;
}